{{ _('What does Decentralization mean in bitcoin?') }}

{{ _('bitcoindesigned.com') }}

{{ _('Bitcoin is called decentralized because it has no central point of control.') }}

{{ _('Its resources (hardware and software) are distributed around the world and connected remotely in a network.') }}

{{ _('And the “authority” to decide over Bitcoin is divided between its network participants.') }}

{{ _('Who are the participants?') }}

{{ _('The shared responsibility includes the following agents:') }}

{{ _('Nodes') }}

{{ _('Transaction is valid') }}

{{ _('Verify and relay transactions.') }}

{{ _('Miners') }}

{{ _('Secure transactions by writing and ordering them on the blockchain in exchange for fees and newly minted bitcoins.') }}

{{ _('Until the ~21 million limit is reached.') }}

{{ _('Both roles can be played by anyone willing to commit the resources to it, there’s no permission to be asked.') }}

{{ _('Look, I’m mining.') }}

{{ _('What are the implications?') }}

{{ _('Miners and nodes are responsible for a decentralized economic policy, replacing the need for a central bank to take care of currency issuance and clearing functions.') }}

{{ _('CENTRAL BANK') }}

{{ _('Permanent vacation') }}

{{ _('Bitcoin’s decentralization is a protection against a single point of failure.') }}

{{ _('That means it’s robust in face of external intervention because there’s no single entity to be attacked or corrupted.') }}

{{ _('Where do we attack?') }}

{{ _('But this decentralization is not a guaranteed feature and there are risks to it as well.') }}

{{ _('We’ll explore some of these issues in the continuation of this infographic.') }}

{{ _('Author: Patrícia Estevão') }}

{{ _('Editor: Marco Agner') }}

{{ _('Sources: Mastering Bitcoin by Andreas Antonopoulos. Available at https://github.com/bitcoinbook/bitcoinbook') }}

