{{ _('Understanding the Lightning Network - Part 3:') }}

{{ _('Going Off-chain') }}

{{ _('bitcoindesigned.com') }}

{{ _('Last time, we used HTLC (Hash Time-Locked Contracts) so Alice could pay 1 btc to Carol using the already open channel between Alice and Bob. This effectively turned our bidirectional channel into a network.') }}

{{ _('Now, we are going to see how the HTLC transaction will be included in the channel balance so that we don’t need to update it immediately on the blockchain.') }}

{{ _('On their last commitment transactions before the HTLC, Alice and Bob had decided on the following balance:') }}

{{ _('Three bitcoins for Bob') }}

{{ _('Five bitcoins for Alice') }}

{{ _('To include the HTLC, they will follow almost the same procedure as before.') }}

{{ _('Create new secret, exchange the hash and create new commitment transactions with the following structure:') }}

{{ _('Alice’s commitment') }}

{{ _('4 bitcoins to herself.') }}

{{ _('4 BTC') }}

{{ _('to Alice’s key') }}

{{ _('3 bitcoins to a multisig address that can be unlocked by:') }}

{{ _('3 BTC') }}

{{ _('Bob, after 1000 blocks.') }}

{{ _('Alice, if she presents Bob’s secret.') }}

{{ _('All businness as usual until now. But then...') }}

{{ _('1 bitcoin to a multisig address that can be unlocked by:') }}

{{ _('1 BTC') }}

{{ _('Bob, if he presents Carol’s secret and waits 1000 blocks.') }}

{{ _('Security measure to give Alice time to “steal” the funds if Bob drops an old channel state and tries to rob her. In which case, she will unlock like this:') }}

{{ _('Alice, after 14 days.') }}

{{ _('Alice,  if she presents Bob’s secret.') }}

{{ _('Bob’s commitment') }}

{{ _('3 bitcoins to himself.') }}

{{ _('3 BTC') }}

{{ _('to Bob’s key') }}

{{ _('4 bitcoins to a multisig address that can be unlocked by:') }}

{{ _('4 BTC') }}

{{ _('Alice, after 1000 blocks.') }}

{{ _('Bob, if he presents Alice’s secret.') }}

{{ _('1 bitcoin to a multisig address that can be unlocked by:') }}

{{ _('1 BTC') }}

{{ _('Bob, if he presents Carol’s secret.') }}

{{ _('Alice, after 14 days.') }}

{{ _('Time for Alice to retrieve the bitcoin in case Bob doesn’t present the secret.') }}

{{ _('Bob, if he presents Alice’s secret.') }}

{{ _('If Alice tries to rob him by droping an old channel state, he doesn’t need to have Carol’s secret to unlock the bitcoin.') }}

{{ _('Again, each of them signs their  half-valid transaction and gives it to the other.') }}

{{ _('Current state of things') }}

{{ _('So this is what will happen next if one of them drops this current channel state on the blockchain:') }}

{{ _('Alice drops the channel:') }}

{{ _('Bob gets 3 bitcoins immediately.') }}

{{ _('3 BTC') }}

{{ _('Alice gets 4 bitcoins in 1000 blocks.') }}

{{ _('4 BTC') }}

{{ _('Bob has 2 weeks to present Carol’s secret and retrieve the remaining bitcoin. If he doesn’t, Alice can take it back to herself.') }}

{{ _('1 BTC') }}

{{ _('Bob drops the channel:') }}

{{ _('Alice gets 4 bitcoins immediately.') }}

{{ _('4 BTC') }}

{{ _('Bob gets 3 bitcoins in 1000 blocks.') }}

{{ _('3 BTC') }}

{{ _('Bob has 2 weeks to present Carol’s secret and retrieve the remaining bitcoin. If he doesn’t, Alice can take it back to herself.') }}

{{ _('1 BTC') }}

{{ _('And if any of them tries to broadcast this state when it’s already outdated, the other can “steal” all the bitcoins.') }}

{{ _('The updating agreement') }}

{{ _('Both Alice and Bob know that Bob will have the HTLC bitcoin if he has Carol’s secret. So, in order to keep the channel open and simplify things, they can agree to update the balance with new commitment transactions as follows:') }}

{{ _('Alice’s new commitment') }}

{{ _('4 bitcoins to herself.') }}

{{ _('4 BTC') }}

{{ _('to Alice’s key') }}

{{ _('4 bitcoins to a multisig address that can be unlocked by:') }}

{{ _('4 BTC') }}

{{ _('Bob, after 1000 blocks.') }}

{{ _('Alice, if she presents Bob’s secret.') }}

{{ _('Bob’s new commitment') }}

{{ _('4 bitcoins to himself.') }}

{{ _('4 BTC') }}

{{ _('to Bob’s key') }}

{{ _('4 bitcoins to a multisig address that can be unlocked by:') }}

{{ _('4 BTC') }}

{{ _('Alice, after 1000 blocks.') }}

{{ _('Bob, if he presents Alice’s secret.') }}

{{ _('Closing the channel') }}

{{ _('To finally close the channel, Alice and Bob will create and broadcast a transaction directly from the opening transaction with the final balance, i.e., the most recent channel state.') }}

{{ _('4 BTC') }}

{{ _('4 bitcoins to Bob.') }}

{{ _('4 BTC') }}

{{ _('4 bitcoins to Alice.') }}

{{ _('This means that only 2 transactions actually got to be written on the blockchain: the opening and the closing transaction.') }}

{{ _('Off-chain transactions') }}

{{ _('Opening transaction') }}

{{ _('Closing transaction') }}

{{ _('It works the same no matter how many times they transacted with the channel open.') }}

{{ _('That’s why the lightning network is such a huge step to reduce the overload of transactions on the blockchain; and, therefore, improve Bitcoin’s scalability.') }}

{{ _('POWERED BY') }}

{{ _('Off-chain') }}

{{ _('On-chain') }}

{{ _('Author: Patrícia Estevão') }}

{{ _('Editor: Marco Agner') }}

{{ _('Main resources: https://bitcoinmagazine.com/articles/understanding-the-lightning-network-part-completing-the-puzzle-and-closing-the-channel-1466178980/') }}

