{{ _('What does Censorship resistance mean in Bitcoin?') }}

{{ _('bitcoindesigned.com') }}

{{ _('You’ve probably heard a bitcoiner talk about Bitcoin’s censorship resistance, but what does it really mean?') }}

{{ _('Well, it means that Bitcoin transactions can’t be censored. That was easy, right?') }}

{{ _('Free Bitcoin') }}

{{ _('But isn’t censorship usually about suppressing free speech or information? What does money have to do with that?') }}

{{ _('The way you spend your money is an expression of yourself (your values, habits, etc). Money is actually a form of speech.') }}

{{ _('Here’s a traditional system simulation:') }}

{{ _('Let’s say you want to support an NGO that has a particular ideology.') }}

{{ _('The government from your country decides it doesn’t approve that ideology.') }}

{{ _('An official statement tells financial institutions that they shouldn’t allow') }}

{{ _('transactions to the NGO.') }}

{{ _('The institutions oblige and you are blocked from spending money in a cause you believe in.') }}

{{ _('You’re actually being') }}

{{ _('censored') }}

{{ _('This can happen in other circumstances that don’t involve much ideology, such as wanting to buy prohibited drugs.') }}

{{ _('In Bitcoin, as long as the network is decentralized, nodes will relay your transaction and miners will compete to add your transaction to the blockchain.') }}

{{ _('It might not be a very glamorous definition, but Bitcoin’s censorship resistance is ultimately about being able to') }}

{{ _('spend your money on whatever you want.') }}

{{ _('And that isn’t just something that was added by an incident to Bitcoin.') }}

{{ _('It’s one of the reasons it was created in the first place.') }}

{{ _('Free money') }}

{{ _('Author: Patrícia Estevão') }}

{{ _('Editor: Marco Agner') }}

