{{ _('Why build the Lightning Network?') }}

{{ _('bitcoindesigned.com') }}

{{ _('What is the big idea?') }}

{{ _('The lightning network is a scaling approach to Bitcoin.') }}

{{ _('It’s really about moving a lot of Bitcoin transactions out of the blockchain and into private channels between users, but still counting on the blockchain’s security.') }}

{{ _('Off-chain transactions') }}

{{ _('blockchain') }}

{{ _('It’s like a contract and arbitration system (with a poetic license, of course):') }}

{{ _('Imagine you want to make a deal with someone and, for that, you create a contract and register it with a notary.') }}

{{ _('That’s you opening a lightning network channel with someone.') }}

{{ _('You expect to do this deal without any hassles, with both parties fulfilling their duties. But, anyway, you have a contract to protect yourself.') }}

{{ _('You create commitment transactions that are not really broadcast, unless necessary to resolve a dispute.') }}

{{ _('If one of you breaks the agreement, you can take this contract to a court that will recognize it as valid and give gain to the honest party.') }}

{{ _('If someone tries to rob you (broadcasting an old channel state), you can take the contract to the blockchain and get all the bitcoins in the channel. Only, in this case, there’s no subjectivity in interpreting the contract.') }}

{{ _('In practice, most people don’t ever need to go to a court because nobody broke their contract, so the arbitration system doesn’t get bloated.') }}

{{ _('Countless transactions can occur in private and off-chain while a channel is open and both parties are being honest, therefore, unburdening the blockchain.') }}

{{ _('If using the lightning network, only 3 types of transactions need to be broadcast to the blockchain:') }}

{{ _('The transaction that opens a channel.') }}

{{ _('The transaction that closes a channel.') }}

{{ _('Disputes that need to be settled.') }}

{{ _('The big features') }}

{{ _('Fast and cheap') }}

{{ _('Now you can actually get instant and almost free payments since you can mainly transact without the limitations of writing on the blockchain. Which means micro-payments are now totally viable!') }}

{{ _('Practical') }}

{{ _('You only have to open a few channels to be able to transact with the whole network because channels are interconnected.') }}

{{ _('No expiration date') }}

{{ _('Channels can stay open indefinitely, maximizing the unburdening effect on the blockchain and dissolving the fees for the opening and closing transactions of a channel.') }}

{{ _('OPEN 24/7') }}

{{ _('Improved privacy') }}

{{ _('It can use encryption and intermediary nodes that relay transactions without knowing its origin and destiny (onion-style routing).') }}

{{ _('Author: Patrícia Estevão') }}

{{ _('Editor: Marco Agner') }}

{{ _('Sources: https://en.bitcoin.it/wiki/Lightning_Network') }}

{{ _('The court analogy was described in reddit a while ago, I just couldn’t find a link to it. If someone finds it, please send it to me. :)') }}

