{{ _('Is Bitcoin really decentralized?') }}

{{ _('bitcoindesigned.com') }}

{{ _('When we talk about decentralization and centralization, it’s not like black and white. Instead, there’s a whole range of grays in the middle.') }}

{{ _('Being more decentralized or less is a thing.') }}

{{ _('Fully centralized') }}

{{ _('Nuance of centralization') }}

{{ _('Fully decentralized') }}

{{ _('Also, decentralization doesn’t mean good while centralization means bad. Both can be useful depending on the context, we just have to know when.') }}

{{ _('But enough with the introduction:') }}

{{ _('How decentralized is Bitcoin?') }}

{{ _('Nodes') }}

{{ _('Node decentralization is essential for a healthy Bitcoin. But not just any node, an economically active full node.') }}

{{ _('The nodes that really make a difference in the decision of protocol changes are the ones that accept transactions and validate them using their own full nodes, usually merchants. That’s what we call the economic majority.') }}

{{ _('If there were fewer merchants, there would be fewer people to enforce Bitcoin’s consensus rules, leaving it more prone to manipulation.') }}

{{ _('Mining') }}

{{ _('Mining is pretty centralized nowadays. It can happen in a variety of ways, such as the centralization of:') }}

{{ _('Hardware suppliers') }}

{{ _('Miners (pooling)') }}

{{ _('Location of mining operations') }}

{{ _('With a centralized mining, the inclusion of transactions in the blockchain is less secure.') }}

{{ _('Operations that hold too much mining power can effectively censor and, at some point, reorder transactions.') }}

{{ _('New POW') }}

{{ _('One of the considered wepons against centralized mining is a thoroughly planned change in the Proof-of-Work algorithm, which would render all current mining hardware useless.') }}

{{ _('Development') }}

{{ _('Most nodes currently use one single Bitcoin implementation, that’s quite centralized.') }}

{{ _('Positive side:') }}

{{ _('Avoids problems with the consensus rules (different implementations might be incompatible).') }}

{{ _('Negative side:') }}

{{ _('The main team of developers has the possibility of over influencing the system.') }}

{{ _('The centralization of development has worked well until now, but it’s pointed as a possible issue in the future.') }}

{{ _('The protection against this lies in the fact that the code is open and people can choose if they will run it or not.') }}

{{ _('Also, the software license allows anyone to start working on their own implementation of Bitcoin.') }}

{{ _('Custodial Exchanges and Wallets') }}

{{ _('Even though they are not a fundamental part of Bitcoin’s existence, exchanges have a relevant role since they are the main interface with the traditional economic system.') }}

{{ _('As for custodial wallets, they are chosen, many times, by users who don’t want or don’t know how to protect their private keys. So they outsource the responsibility to a company.') }}

{{ _('In both cases, the more centralized they are, the easier it is to steal funds from a large number of people and cause a market disruption as they become huge honeypots for attackers.') }}

{{ _('Decentralized and non-custodial exchanges, and non-custodial wallets are a better approach to avoid a huge concentration of funds in one place.') }}

{{ _('So what is the conclusion here?') }}

{{ _('Bitcoin is still well enough to keep going for now. But it should be an ongoing concern to take care of its degree of decentralization and the attack vectors originated by it.') }}

{{ _('Otherwise, we’ll be just waiting for a time bomb to go off when some of these elements get out of control.') }}

{{ _('Author: Patrícia Estevão') }}

{{ _('Editor: Marco Agner') }}

{{ _('Sources: https://github.com/libbitcoin/libbitcoin/wiki/Centralization-Risk') }}

