{{ _('The Lightning network basics series') }}

{{ _('What are the Bitcoin Timelocks?') }}

{{ _('bitcoindesigned.com') }}

{{ _('A time lock is a type of smart contract primitive that restricts the spending of bitcoins until a specified time in the future.') }}

{{ _('Types of timelocks') }}

{{ _('NLockTime') }}

{{ _('CheckLockTimeVerify (CLTV)') }}

{{ _('CheckSequenceVerify (CSV)') }}

{{ _('It’s a transaction field.') }}

{{ _('It’s an opcode (code used in Bitcoin’s script language).') }}

{{ _('Specifies the earliest time or the lowest block height a transaction may be added to a valid block.') }}

{{ _('Locks transaction’s outputs so they can’t be spent before a specified time/date.') }}

{{ _('Locks transaction’s outputs so they can’t be spent before a specified number of blocks has been mined.') }}

{{ _('Absolute time lock: you choose an specific time (UNIX date or block height) as your unlocking parameter.') }}

{{ _('Relative time lock: you choose a number of future blocks that need to be created as your unlocking parameter.') }}

{{ _('If broadcast to the network before the specified time, the transaction will be considered invalid.') }}

{{ _('The transaction is valid and marked on the blockchain from the start, even though the money is locked.') }}

{{ _('If the outputs are used as inputs of a new transaction (i.e. if someone tried to spend them) before the unlock time, this new transaction will be invalid.') }}

{{ _('Example') }}

{{ _('Alice is going to a retreat and creates a transaction sending 2 btc to Bob so he can pay a bill for her while she is away. But she only wants it to be used in case she doesn’t come back in 10 days.') }}

{{ _('Alice creates a transaction of 2 btc to Bob with a nLockTime set to 864000 seconds (10 days) from now.') }}

{{ _('Alice creates a transaction of 2 btc to Bob with a CLTV set to 864000 seconds (10 days) from now.') }}

{{ _('Alice creates a transaction of 2 btc to Bob with a CSV set to 1440  blocks after the transaction is mined (approximately 10 days).') }}

{{ _('Alice gives the transaction to Bob.') }}

{{ _('Alice broadcasts the transaction to the Bitcoin network.') }}

{{ _('If Alice hasn’t returned in the mean time, Bob can broadcast the transaction after 10 days.') }}

{{ _('If Alice hasn’t returned in the mean time, Bob can spend the 2 btc after 10 days.') }}

{{ _('If Alice hasn’t returned in the mean time, Bob can spend the 2 btc after the blocks have passed.') }}

{{ _('If Alice returns, she can create a new transaction that invalidates the one sending money to Bob.') }}

{{ _('It might not sound like much of difference, but the flexibility in these two models allow some cool and useful types of transactions, such as the ones needed for the lightning network.') }}

{{ _('Author: Patrícia Estevão') }}

{{ _('Editor: Marco Agner') }}

{{ _('Main source: https://en.bitcoin.it/wiki/Timelock') }}

