{{ _('The Lightning network basics series') }}

{{ _('What is a multisig (aka multisignature) wallet?') }}

{{ _('bitcoindesigned.com') }}

{{ _('regular wallet') }}

{{ _('One key is required to authorize money transfer, i.e. sign a transaction.') }}

{{ _('Multisig wallet') }}

{{ _('More than one key may be required to sign each transaction.') }}

{{ _('m-of-n') }}

{{ _('The m-of-n scheme means that the wallet is associated with m keys and each time a transaction needs to be broadcast, n of those m keys need to sign it.') }}

{{ _('m keys') }}

{{ _('m = 4') }}

{{ _('n signatures') }}

{{ _('n = 3') }}

{{ _('What’s the point?') }}

{{ _('The main use case for multisig wallets is to increase security of funds.') }}

{{ _('Examples') }}

{{ _('Decentralizing risks independently.') }}

{{ _('John associates his wallet with two keys, each stored in a different machine. If one machine is hacked, he won’t loose his bitcoins instantly.') }}

{{ _('Security with redundancy.') }}

{{ _('Lisa has a 2-of-3 wallet address and keeps the 3 keys in separate places to avoid theft. If one of the keys is lost, she can still access her bitcoins.') }}

{{ _('Bank') }}

{{ _('Decentralizing risks with help.') }}

{{ _('Sophie’s business has a multisig address and shares the responsibility of signing transactions with a security specialized company that holds one of the needed keys for spending. So if Sophie is hacked, her coins are still protected.') }}

{{ _('Managing trust.') }}

{{ _('Company LOL has a 3-of-5 Bitcoin wallet with its resources and each key is hold by one of its executives. In order to move money, 3 of them have to sign the transaction, making sure at least the majority agrees with the spending.') }}

{{ _('Author: Patrícia Estevão') }}

{{ _('Editor: Marco Agner') }}

