{{ _('Public Key Cryptography in Bitcoin transactions') }}

{{ _('bitcoindesigned.com') }}

{{ _('Public key cryptography is also known as Asymmetrical Encryption because it uses 2 different keys – a pair of a public and a private key – instead of one to encrypt data.') }}

{{ _('Symmetrical encryption') }}

{{ _('Only 1 encryption key (both communicating parties have to know it)') }}

{{ _('When you receive a message:') }}

{{ _('Sender’s message') }}

{{ _('Encrypts with key') }}

{{ _('Cipher text') }}

{{ _('Sends to') }}

{{ _('You') }}

{{ _('Decrypts with key') }}

{{ _('Message') }}

{{ _('Asymmetrical encryption') }}

{{ _('Public key (show to people you want to communicate with)') }}

{{ _('Private key (keep it a secret, only you know it)') }}

{{ _('When you receive a message:') }}

{{ _('Sender’s message') }}

{{ _('Encrypts with  your public key') }}

{{ _('Cipher text') }}

{{ _('Sends to') }}

{{ _('You') }}

{{ _('Decrypts with your private key') }}

{{ _('Message') }}

{{ _('The general goal of public key cryptography is to prove you have a secret without having to show it to anyone. And the secret is your private key.') }}

{{ _('Not having to share your private key is one of the advantages of this type of encryption.') }}

{{ _('Digital signature') }}

{{ _('When you use your private key to sign a message you create a digital signature.') }}

{{ _('That can prove the message was written by the owner of the private key.') }}

{{ _('It’s a type of authentication.') }}

{{ _('This digital signature was created with the pair of this public key.') }}

{{ _('Bitcoin Address') }}

{{ _('The address we use in Bitcoin to receive money is actually a derivation from your public key.') }}

{{ _('When you send money to an address, you are saying “the bitcoins can be used by the owner of the keys correspondent to this address”.') }}

{{ _('Bitcoin ownership:') }}

{{ _('Private key') }}

{{ _('Public key') }}

{{ _('Derived into') }}

{{ _('Bitcoin address') }}

{{ _('Bitcoin Transactions') }}

{{ _('The most common type of Bitcoin transaction is called Pay to Public Key Hash (P2PKH), which basically means “Pay to an address”.') }}

{{ _('A transaction is essentially a message that uses Public Key Cryptography to make sure the right person can unlock it.') }}

{{ _('Payment to Bob:') }}

{{ _('Pays to') }}

{{ _('Bob’s address') }}

{{ _('Controlled by') }}

{{ _('Bob’s keys') }}

{{ _('So here’s an example with the simplified dynamic of how Public Key Cryptography acts in a Bitcoin P2PKH transaction:') }}

{{ _('Bob sends you bitcoins:') }}

{{ _('Bob “locks” the bitcoins with the condition that the correct signature is presented.') }}

{{ _('He transmits the transaction to the network.') }}

{{ _('The transaction is validated by network nodes and mined.') }}

{{ _('You spend the bitcoins:') }}

{{ _('You unlock the bitcoins by answering to the previous condition (signing the transaction) and then you lock the funds with a new condition (that the signature of the recipient is presented).') }}

{{ _('Locked bitcoins') }}

{{ _('Private key') }}

{{ _('Signature + New condition') }}

{{ _('Locked bitcoins') }}

{{ _('You transmit the transaction to the network.') }}

{{ _('The transaction is validated by network nodes and mined.') }}

{{ _('Author: Patrícia Estevão') }}

{{ _('Editor: Marco Agner') }}

{{ _('External source: https://en.wikipedia.org/wiki/Public-key_cryptography') }}

